/* NAVBAR */
#navbar{
    height: 70px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(134, 134, 134, 0.2); 
    /* color: white */
    margin-bottom: 10px;
}

#logo{
    /* display: block; */
    width:185px;
    height:50px;
    /* width: auto;
    height: auto; */
}

#logout{
    float: right;
}

.welcome{
    float: right;
}

.title, #new-bolus{
    margin-left: 35px;
}

/* .body{
    margin-left: 50px;
} */

/* PROFILE PAGE */
.settings-div-outer{
    /* flex-wrap: wrap; */
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
}

.settings-div-middle{
    text-align: center;
    width: 300px;
    /* margin: 0 auto; */
}

/* .settings-div-inner{
    text-align: left;
} */

.user-specs{
    text-align: center;
    width: 350px;
}

.user-specs p, .input{
    display: inline-block;
    line-height: 25px;
}

.user-specs input{
    display: inline-block;
    width: 50px;
}

.user-specs p{
    margin-right: 10px;
    /* font-weight: 500; */
}

.user-specs .input, button{
    display: inline-block;
}

.user-specs-inner{
    width: 300px;
    text-align: left;
    margin: 0 auto;
}

.input input, button{
    display: inline-block;
}

.input p, button{
    display: inline-block;
} 



/* BOLUSES PAGE */

/* New Bolus */
.new-bolus-form{
    border: 1px solid rgb(235, 229, 229);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(134, 134, 134, 0.2); 
    margin-left: 20px;
    margin-top: 10px;
    width: 500px;
}

.new-bolus-form-inner{
    /* display: flex; */
    margin: 10px 10px 10px 10px;
}

#new-bolus-button-x{
    float: right;
}


.errors_hint{
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left: 8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    /* transition-delay: 2s; */
}

#new-food{
    color: rgb(0, 0, 255);
    text-decoration: underline;
}

#label {
    font-weight: 500;
}

#label, #input-value {
    display: inline-block;
}

#input-value{
    width: 100px;
}

#input-value-2:nth-child(n+2){
    margin-left: 5px;
}

#submit-bolus{
    float: right;
}

/* try to get this removed from under delete button */
.foodAdded{
    border-bottom: 1px solid rgb(235, 229, 229);;
}

#delete-btn {
    display: block;
    margin: auto;
    height: 30px;
    width: 30px;  
    border-radius: 50%;
    text-align: center;
}

/* bolus posts */

.bolus-array{
    /* display: inline-block; */
    margin: 0 auto;
    /* display: flex; */
    display: inline-block;
    /* flex-direction: column; */
    text-align: center;
    padding: 0px 0px 0px 0px 
    /* width: 50%; */


}

.bolus-outer{
    display: inline-block;
    align-items: center;
    width: 300px;
    margin: 5px 5px 5px 5px;
    text-align: left;
    
}

.bolus-inner{
    /* display: inline-block; */
    border: 1px solid rgb(235, 229, 229);
    border-radius: 5px;
    /* box-shadow: 0 0 20px rgba(134, 134, 134, 0.2);  */
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 300px;
    padding: 10px;
}

.bolus-inner:hover{
    box-shadow: 0 0 20px rgba(134, 134, 134, 0.2);
}

.bolus-inner #label{
    font-weight: 500;
}

#label, #value{
    display: inline;
}

#timestamp {
    opacity: .8;
}

/* LOGIN/REGISTER */
.login{
    position: absolute;
    margin-top: 170px;
    /* top: 30%; */
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.register{
    position: absolute;
    margin-top: 170px;
    /* top: 30%; */
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
}

.form-group small {
    color:red;
    }

.success{
    display: block;
    width: 200px;
    color: green;
}

/* FOOTER */
footer{
    /* background-color: rgb(163, 13, 13); */
    /* color: rgba(129, 129, 129, 0.76); */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    /* opacity: .75 */
}

.socials{
    display: block;
    text-align: center;
}

.socials i{
    margin-right: 5px;
    opacity: .75
}

.socials i:hover{
    opacity: 1;
    cursor: pointer;
}